# Project exclude paths
/configclient/target/
/configserver/target/
/consumer/target/
/eurekaclient/target/
/eurekaserver/target/
/fegin/target/
/hystrix/target/
/resttemplate/target/
/ribbon/target/
/zuul/target/